/* @import url('./visby/visby.css'); */

html,
body {
    overflow-x: hidden;
}

.float_right {
    float: right !important;
  
}

.mobile-link{
    display: none;
}

a,
a:hover {
    color: #0A8EED;
    text-decoration: none;
}

.navbar .navbar_menu .navbar_nav li {
    display: inline-block !important;
}

.navbar .navbar_menu .navbar_nav li a {
    color: #fff;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
}

.navbar .navbar_menu {
    width: 60%;
    text-align: right;
}

#chartContainer .apexcharts-legend{
    display: none;
}

/* #chartContainer text{
    font-size: 29px !important;
} */

#chartContainer{
    position: relative;
}

#chartContainer .text{
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);   
    font-size: 63px;
    background: -webkit-linear-gradient(#a2d5f3, #1687cb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    font-family: 'visby';
}

footer .trust-text{
    color: #3E4051;
    font-size: 14px;
    font-family: 'visby';
    padding-top: 35px;
}

footer .text-small{
    font-size: 11px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.btn_buy_token {
    padding-left: 25px;
    padding-right: 25px;
}

.navbar {
    /* padding-left: 9.7%;
    padding-right: 11%; */
    padding-top: 10px;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
}

.terms-sec .table{
    width: 60%;
}

.terms-sec a{
    text-decoration: none;
    color: #008CE6;
}

.terms-sec .table thead th{
    text-align: left;
    background: #cfcfd0;
    vertical-align: middle;
}

.terms-sec table p{
    margin: 0;
}

.canvasjs-chart-credit{
    display: none !important;
}

.fireblock-sec{
    background: #2c2b3d;
    position: relative;
    color: #fff;
}

.fireblock-sec p{
    color: #fff !important;
}
.angle {
    height: calc(100% + 17px);
    left: 0;
    overflow: hidden;
    position: absolute;
    top: -17px;
    width: 100%;
}

.fireblock-sec .menu_logo{
    z-index: 100;
    position: relative;
}
.angle svg {
    height: 100%;
    left: 100%;
    max-width: none;
    position: absolute;
    transform: translateX(-50%);
    width: auto;
}
.first_section{
    min-height: 80vh;
}
.first_section .first_section_main {
    padding: 10%;
    padding-top: 100px;
    padding-bottom: 0px;
}

.first_section .first_section_main .image2_banner {
    margin-top: -100px;
    margin-right: -100px;
}

.first_section .first_section_main .content_text {
    padding-top: 7%;
}

.second_section .second_section_main .layer_check {
    width: 30px;
    height: 30px;
}

.five_section_main_listing .left-col, .five_section_main_listing .right-col{
    margin-top: 75px !important;
}

.five_section_main_listing{
    padding-bottom: 5%;
}

.container {
    width: 80%;
}

a {
    text-decoration: none !important;
}

.apiData {
    font-weight: bold !important;
}
.apirow{
    display: none;
}

.apirow img {
    margin-right: 5px;
}

.token_right_card {
    background: #FEFEFE;
    box-shadow: 0px 0px 25px rgba(46, 46, 46, 0.1);
    border-radius: 10px;
}

.loading-skeleton.mvol{
    margin-top: 10px !important;
}

.icon-row{
    display: flex;
}


@keyframes loading-skeleton {
    from {
        opacity: 0.4;
    }

    to {
        opacity: 1;
    }
}

.loading-skeleton {
    pointer-events: none;
    animation: loading-skeleton 1s infinite alternate;
    background: #74a5ef;
    border-radius: 5px;
    margin-left: 10px;  
    margin-bottom: 5px; 
    /* padding: 2px 100px;
    width: 100px; */
    max-width: 150px;
    min-height: 15px;
}

.loading-skeleton img {
    filter: grayscale(100) contrast(0%) brightness(1.8);
}

.token_right_card .image_token {
    width: 80px;
    height: 80px;
    min-width: 80px;
    min-height: 80px;
}

.bold-500 {
    font-weight: 500;
}

.bold-600 {
    font-weight: 600;
}

.w-80 {
    width: 80%;
}

.boder-radius {
    border-radius: 10px;
}

.community_gradient {
    min-height: 459px;
}

.footer p {
    font-family: 'visby';
    font-style: normal;
}

.footer .last-col{
    padding-left: 125px;
}


.footer .social_footer {
    margin-right: 20px;
    font-size: 22px;
    color: #747584;
}

.footer .nav-item {
    font-family: 'visby';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
}

.footer h5 {
    font-family: 'visby';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.01em;
    color: #fff;
}

.footer .product-list img{
margin-right: 5px;
    width: 25px;
}

.footer .nav-link{
    font-size: 14px;
    display: inline;
}
.footer .social-icons {
    /* gap: 20px; */
    width: 100%;
    margin-top: 60px !important;
    /* justify-content: flex-end; */
}

.footer .social-icons li {
    /* margin-right: 25px; */
    /* margin-left: 24px; */
    margin-bottom: 17px !important;
    width: 24%;
    display: flex;
    justify-content: flex-end;
}

.footer .social-icons li img{
    transition: all 200ms ease;
}

.footer .social-icons li img:hover{
    transform: scale(1.1);
}

.footer .social_footer:hover,
.footer .nav-item:hover .nav-link {
    color: #fff !important;
}

.footer .btn {
    background: #2B3992;
    color: #F6F9FC;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.01em;
    border-radius: 5px;
    padding: 15px 20px;
    max-width: 200px;

}

/* .footer .last-col {
  
    display: flex;
    flex-direction: column;
    align-items: flex-end;
} */

/* .footer .last-col h5{
    margin-right: 46%;
} */
/* .footer .last-col:nth-child(1){
    align-items: flex-start;
} */

.footer .btn-wrap {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer .btn img {
    margin-right: 10px;
}

.footer .btn.btn-white {
    border: 1px solid #2B3992;
    color: #2B3992;
    background: transparent;
}

.footer{
    background:linear-gradient(45.53deg,#00fff4 -31.45%,#2175ee 39.07%,#1b62c8 100.3%)
}

.footer a{
    color: #fff !important;
}

.footer a:hover{
    color: #fff !important;
}

.footer p{
    color: #fff !important;
    line-height: 31px;
}
.footer-bottom {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 21px;
    color: #747584;
    padding-top: 20px;
}

.footer-top{
    padding-bottom: 15px;
}

.footer-bottom ul {
    list-style: none;
    padding-left: 0;
}

.footer-bottom ul li {
    display: inline-block;
    margin-right: 30px;
}

.footer-bottom ul li:last-child{
    margin-right: 0px;
}

.footer-bottom ul li a {
    font-weight: 700;
    font-size: 12px;
    line-height: 21px;
    color: #747584;
}

.footer-bottom .right-col {
    text-align: right;
    padding-right: 0;
}

.community_section .btn_social_community {
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-family: 'visby';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 31px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    margin: 20px;
    min-width: 166px;
}

.community_section .btn_social_community:hover {
    background: #F6F9FC;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    color: #0D7FD6;
}

.community_section .btn_social_community .fa {
    font-size: 18px;
}

.community_section .content_text h4 {
    font-family: 'visby';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.01em;
    color: #F6F9FC;
}

.community_section .content_text p {
    font-family: 'visby';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
}

.seven_section_banking h3 {
    font-family: 'visby';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.01em;
    color: #3E4051;
}

.seven_section_banking h4 {
    font-family: 'visby';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 28px;
    display: flex;
    align-items: center;
    letter-spacing: 0.01em;
    color: #37417C;
}

.seven_section_banking p {
    font-family: 'visby';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    display: flex;
    align-items: center;
    letter-spacing: 0.01em;
    color: #747584;
}

.five_section_apps .content_head h3 {
    font-family: 'visby';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    display: flex;
    align-items: center;
    letter-spacing: 0.01em;
    color: #3E4051;
}

.five_section_apps .content_head p {
    font-family: 'visby';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 29px;
    display: flex;
    align-items: center;
    letter-spacing: 0.01em;
    color: #747584;
}

.five_section_apps .content_body p {
    font-family: 'visby';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.01em;
    color: #747584;
}

.five_section_apps .content_body h4 {
    font-family: 'visby';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.01em;
    color: #3E4051;
}

.five_section_apps .right_side {
    margin-top: 6%;
}

.five_section_apps .content_head {
    padding-right: 5%;
}

.five_section_img .five_section_main_img_text {
    position: absolute;
    z-index: 999;
    right: 0;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
}

.position-relative {
    position: relative;
}

.five_section_img .five_section_main_img_text h3 {
    font-family: 'visby';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.01em;
    color: #F6F9FC;
}

.five_section_img .five_section_main_img_text p {
    font-family: 'visby';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.01em;
    color: #F6F9FC;
}

.five_section_img .five_section_main_img_text p a {
    font-size: 16px;
    font-family: 'visby';
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0.01em;
    color: #F6F9FC;
}

.five_section_chart h3 {
    font-family: 'visby';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #3E4051;
}

.five_section_chart p {
    font-family: 'visby';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #747584;
}

.image_listing {
    height: 96.07px;
    padding: 25px;
    filter: grayscale(100%);
    object-fit: contain;
    max-width: 170px;
}

.image_listing:hover {
    filter: grayscale(0%);
}

.five_section_listing .token_right_card {
    /*margin-bottom: 25px;*/
}

.five_section_listing .content_text h1 {
    font-family: 'visby';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.01em;
    color: #3E4051;
}

.five_section_listing .content_text p,
.five_section_listing .content_text .layer_check {
    font-family: 'visby';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.01em;
    color: #747584;
}

.third_section_technology{
    padding-top: 5%;
    padding-bottom: 5%;
}

.four_section_roadmap .content_text h1,
.third_section_technology .content_text h1 {
    font-family: 'visby';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.01em;
}

.four_section_roadmap .content_text p,
.third_section_technology .content_text p {
    font-family: 'visby';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.01em;
}

.third_section_technology .content_card h4 {
    font-family: 'visby';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.01em;
    color: #3E4051;
}

.third_section_technology .content_card p {
    font-family: 'visby';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.01em;
    color: #747584;
}

.second_section_zokyo .content_text h1 {
    font-family: 'visby';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.01em;
    color: #3E4051;
}

.second_section_zokyo .content_text p {
    font-family: 'visby';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.01em;
    color: #747584;
    mix-blend-mode: normal;
    opacity: 0.8;
}

.second_section_zokyo .menu_logo .layer_check {
    font-family: 'visby';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.01em;
    color: #747584;
}

.second_section_zokyo .menu_logo img {
    width: 35px;
    height: 35px;
    margin-right: 10px;
}

.second_section_zokyo .menu_logo .layer_check_readmore {
    font-family: 'visby';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    display: flex;
    align-items: center;
    letter-spacing: 0.01em;
    color: #0A8EED;
}

.first_section .first_section_main .content_text h1 {
    font-family: 'visby';
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
    line-height: 60px;
    display: flex;
    align-items: center;
    letter-spacing: 0.01em;
    color: #F6F9FC;
}

.first_section .first_section_main .content_text p {
    font-family: 'visby';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 28px;
    display: flex;
    align-items: center;
    letter-spacing: 0.01em;
    color: #F6F9FC;
}

.first_section .first_section_main .content_text {
    padding: 6%;
    padding-top: 8%;
}

.first_section .first_section_main .content_text .btn {
    border: 1px solid #F6F9FC;
    border-radius: 5px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin-right: 20px;

    font-family: 'visby';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 27px;
    align-items: center;
    color: #F6F9FC;
}

.first_section .first_section_main .content_text .btn:hover {
    background: #F6F9FC;
    border: 1px solid #F6F9FC;
    border-radius: 5px;
    color: #008CE6;
}

.first_section .follow_social .social_footer {
    color: #fff;
    font-size: 16px;
}

.first_section .follow_social {
    position: absolute;
    left: -0%;
    top: 65%;
    z-index: 99;
    transform: rotate(0deg);
    text-align: left;
}

#v3d-container div a,
#fullscreen_button {
    display: none !important;
}

.t-24 {
    font-size: 24;
}

.timeline_block {
    overflow-x: auto;
    margin-top: -70px;
}

.timeline_block .time_line_li {
    width: 350px;
    min-width: 350px;
    margin: auto;
    display: inline-block;
    margin-right: 150px;
}

.timeline_block .time_line_card {
    background: #0F81D7;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
}

.timeline_block ul {
    display: flex;
    z-index: 3;
    overflow-x: auto;
}

.timeline_block .line_timeline_hr {
    height: 1px;
    background: transparent;
    /* position: absolute; */
    z-index: 1;
    width: 100%;
    top: 47%;
    border: 1px dashed #fff;
}

.timeline_block {
    overflow: hidden;
    min-height: 400px;
    position: relative
}

.four_section_roadmap {
    position: relative;
    display: none;
}

.terms-sec{
 min-height: 100vh;
 padding: 80px 0;
}

.terms-sec .content{
    width: 80%;
    margin: 0 auto;
    text-align: justify;
    border: none;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 0 4px rgb(0 0 0 / 10%), 0 4px 8px rgb(0 0 0 / 10%);
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    background-color: #fff;
    padding: 50px;
    margin-top: 50px;
    font-size: 14px;
}

.terms-sec h4 {
    font-size: 20px;
    font-weight: 600;
}

.terms-sec .sub-ul {
    padding-left: 20px;
}

.terms-sec h2{
    color: #0A8EED;
    text-align: center;
    margin-bottom: 30px;
}


.terms-sec .sub-sub-ul {
    padding-left: 50px;
}

.logo {
    max-width: 200px;
}

.header_logo_blue {
    display: none;
}

._header_white {
    background: #fff !important;
    z-index: 999999;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

._header_white .header_logo_white {
    display: none;
}

._header_white .header_logo_blue {
    display: inline;
    margin-top: 3px;
}

._header_white .a_link {
    color: #747584 !important;
    padding-top: 5px;
}

._header_white .a_link:hover, .innerpage .navbar_header .a_link:hover {
    color: #0F81D7 !important;
}

._header_white .btn, .innerpage .navbar_header .btn  {
    background: #0F81D7 !important;
    color: #fff !important;
    margin-right: 0 !important;
}

.innerpage .a_link {
    color: #747584 !important;
    padding-top: 5px;
}


.innerpage .header_logo_white {
    display: none;
}

.innerpage .header_logo_blue {
    display: inline;
    margin-top: 3px;
}


.navbar-toggler {
    display: none;
}

@media screen and (max-width: 1580px) {
    .horizone-nav .next {
        margin-right: -23px;
        margin-top: 30px;
    }

    .horizone-nav .prev {
        margin-right: -20px;
    }

    .first_section_main .follow_social {
        margin-top: -160px;
    }

    .token_right_card_div .col-md-6 {
        padding: 15px !important;
    }
}

@media screen and (max-width: 1314px) {
    .token_right_card_div .token_right_card {
        padding: 30px !important;
    }

    .second_section_main .col-md-5 {
        padding: 0px !important;
        margin-top: 130px;
    }

    .five_section_main_img_text h3 {
        margin-top: 70px !important;
        font-size: 30px !important;
    }

    .five_section_main_img_text p {
        font-size: 18px !important;
    }
}

@media screen and (max-width: 1440px) {
    .footer .logo{
        width: 95%;
    }

    .footer .btn{
        padding: 8px 13px;
   
    }

    .footer .last-col {
        padding-left: 25px;
    }

    .footer p{
        font-size: 14px;
    }

    .footer .nav-link {
        font-size: 13px;
        display: inline;
    }
}

@media screen and (max-width: 1366px) {
    .footer .last-col {
        padding-left: 17px;
    }

    .footer .social-icons li img{
       width: 25px;
 
    }
}


@media screen and (max-width: 1200px) {

    .five_section_main .col-md-5,
    .five_section_main .row {
        padding: 0px !important;
    }

    .four_section_main .col-md-6 {
        width: 100% !important;
    }

    .first_section .follow_social {
        display: none;
    }

    .first_section_main .btn {
        margin-bottom: 20px;
    }

    .navbar-toggler {
        display: inline;
        border: 0px !important;
        color: #fff !important;
        margin-top: 10px !important;
        float: right !important;
    }

    .navbar_header {
        background: #159EEB !important;
    }

    .navbar_menu {
        position: fixed;
        left: 0;
        right: 0;
        width: 100% !important;
        padding-right: 10%;
        background: #159EEB;
        text-align: left !important;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
        top: 66px;
        z-index: 999999 !important;
        display: none;
    }

    ._header_white {
        background: #fff !important;
    }

    ._header_white .navbar_menu {
        position: fixed;
        left: 0;
        right: 0;
        width: 100% !important;
        padding-right: 10%;
        background: #fff;
        text-align: left !important;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
        top: 66px;
        z-index: 999999 !important;
    }

    .navbar .navbar_menu .navbar_nav li {
        display: block !important;
        margin-top: 25px;
        margin-left: 0px;
        width: 100%;
    }

    .navbar .navbar_menu .navbar_nav li a {
        width: 100% !important;
    }

    .seven_section_banking .col-md-4 {
        padding: 10px !important;
    }

    .footer .social-icons {
        width: 100%;
    }

    /* .footer .social-icons li {
        margin-right: 15px;
    } */

    .second_section_zokyo .content_text p{
        font-size: 15px;
    }

    .footer .last-col {
        padding-left: 0;
    }

    .footer .social-icons li{
        justify-content: flex-start;
    }

    .footer .social-icons li img {
        width: 35px;
    }

    .terms-sec .content{
        width: 100%;
        padding: 20px 15px;
    }

    .terms-sec .container{
        width: 100%;
    }
}

@media only screen and (min-width: 450px) and (max-width: 650px) {
    .navbar .navbar_menu .navbar_nav li {
        padding-left: 20px;
    }
}

@media only screen and (min-width: 650px) and (max-width: 1200px) {
    .navbar .navbar_menu .navbar_nav li {
        padding-left: 7%;
    }
}



@media screen and (max-width: 1150px) {
    .third_section_main .token_right_card_div .col-md-6 {
        width: 100% !important;
    }

    .w-75 {
        width: 90% !important;
    }
}

@media screen and (max-width: 1090px) {
    .footer .btn {
        font-size: 12px;
    }
   
}
@media screen and (max-width: 768px) {
    .footer .last-col {
        padding-left: 15px;
    }

    .footer .social-icons li {
        /* margin-left: 0;
        margin-right: 20px; */
    }
}

@media screen and (max-width: 767px) {
    .zokyo-img{
        display: none;
    }
    .first_section .first_section_main .content_text .btn{
        min-width: 150px;
    }

    .third_section_technology{
        padding-top: 15%;
    }
    .five_section_main_listing .token_right_card {
        margin-top: 15px !important;
    }

    .five_section_main_listing .left-col, .five_section_main_listing .right-col{
        margin-top: 0px !important;
    }

    .second_section_main .col-md-6,
    .four_section_main .col-md-6 {
        padding: 10px !important;
    }

    .footer h5 {
        margin-top: 15px;
    }

    .footer-bottom .right-col {
        text-align: left;
    }

    .terms-sec .table{
        width: 100%;
    }
    
   .mobile-link{
        display:block;
            width: 48%;
    }
    
    .desktop-link{
        display:none;
    }
    /* .footer .social-icons li{
        width: 17%;
    } */
    
    .community_section .btn_social_community{
        margin: 13px;
    }
}

@media screen and (max-width: 571px) {

    #vertical-slider,
    #vertical-slider ul {
        width: 300px !important;
    }

    .timeline_block {
        width: 100%;
        padding: 0px;
    }

    #chartdiv {
        height: 700px !important;
    }

    #chartContainer text{
        font-size: 20px !important;
    }

    .footer .nav-link, .footer a{
        font-size: 14px;
        
    }
    .footer .flex-column.mt-4{
        margin-top: 0 !important;
    }
    .footer .nav-item{
        line-height: 23px;
    }

    .footer p{
        line-height: 27px;
    font-size: 14px;
    }

    ._header_white .navbar_menu{
        top: 55px;
    }

    .footer .social-icons li{
        
    width: 16%;

    }

    .footer .social-icons {
        width: 100%;
        gap: 3px;
        margin-top: 30px !important
    }
}

@media screen and (max-width: 800px) {
    .five_section_main_img_text {
        position: relative !important;
        width: 100% !important;
        top: -80px !important;
        left: 10px !important;
        margin-bottom: -80px;
        transform: translate(0, 0) !important;
    }

    .five_section_main_img_text h3,
    .five_section_main_img_text p,
    .five_section_main_img_text p a {
        color: #747584 !important;
    }
}

@media only screen and (min-width: 558px) and (max-width: 900px) {
    .footer .row-cols-6 div {
        width: 50% !important;
        margin-top: 20px;
    }

    .footer .row-cols-6 .col-md-4 {
        width: 100% !important;
        margin-top: 20px;
    }

    .footer .col-md-12 {
        width: 100% !important;
    }

    .footer .row-cols-6 {
        padding-top: 0px !important;
        margin-top: 0px !important;
    }
}

@media screen and (max-width: 557px) {
    .footer .row-cols-6 div {
        width: 100% !important;
        margin-top: 20px;
    }

    .angle svg{
        display: none;
    }

    .footer .row-cols-6 {
        padding-top: 0px !important;
        margin-top: 0px !important;
    }

    .first_section .first_section_main .content_text h1{
        font-size: 44px;
        line-height: 55px;
    }

    .second_section_zokyo .my-5, .second_section_zokyo .container .my-5{
        margin-top:  0 !important;
        margin-bottom:  0 !important;
    }

    .seven_section_banking p{
        font-size: 14px;
    }
}

.v3d-simple-preloader-logo {
    background: url("/images/apps/coingecho.png") center/contain no-repeat !important;
}

.v3d-simple-preloader-background {
    background-color: transparent !important;
    display: none !important;
}

.scrollToTop {
    background: #159EEB;
    padding: 15px;
    border-radius: 50%;
    color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    position: fixed;
    right: 15px;
    bottom: 30px;
    z-index: 999;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    display: none;
}

.scrollToTop:hover{
    color: #fff;
}

.bg_gray {
    background: #F8FAFF;
}

.bg_grey {
    background: #F7F7F7;
}

text {
    font-family: 'visby' !important;
    font-style: normal;
    font-weight: 700 !important;
    font-size: 16px !important;
    line-height: 26px !important;
    letter-spacing: 0.01em !important;
    color: #747584 !important;
}

.navbar .navbar_menu .navbar_nav li a {
    font-family: 'visby' !important;
}

.lyotradeimg {
    padding: 10px !important;
    width: 100%;
}

.opacity_mouse {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background: transparent;
}

@media screen and (max-width: 375px) {
   

    #chartContainer .text{
        font-size: 40px;
        top: 36%;
    }
}

@media screen and (max-width: 320px) {
    .navbar-toggler{
      margin-top:0 !important;
    }

    .navbar-brand img{
        width: 50%;
    }

    .seven_section_banking p{
        font-size: 13px;
    }

   
}

